<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Idioma" type="System.Configuration.NameValueSectionHandler"/>
    <section name="color" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="caracteres" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="Patentes" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="TAG" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <Idioma>
    <add key="PATH_CONFIG_LOGICA" value="C:\Fuentes\AUNOR_VIA\TesteosIndividuales\ModuloLogicaVia\PruebaLogicaVia\PruebaLogicaVia\bin\DebugEmulador\PruebaLogicaVia.exe.config" />
  </Idioma>
  <appSettings>
    <add key="PORT" value="12006" />
    <add key="ModeloVia" value="Manual" />
    <add key="SimboloMoneda" value="S/." />
    <add key="CantidadDecimales" value="2"/>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="CarpetaImagenes" value="\Recursos"/>
    <add key="ZOOM_TOP_MARGIN" value="180" />
    <add key="ZOOM_LEFT_MARGIN" value="200" />
    <add key="ZOOM_RIGTH_MARGIN" value="260" />
    <add key="ZOOM_BOTTOM_MARGIN" value="160" />
    <add key="PATH_TESTEO" value="C:\Testeo\Testeo TCI.exe" />
    <!--<add key="CAR_INICIO_CB" value="&lt;" />-->
    <add key="CAR_INICIO_CB" value=";" />
    <add key="FIN_LECTURA_CB" value="0" /> <!-- CaracterDeFin = 0, Tiempo = 1 -->
    <add key="CAR_FIN_CB" value="-" /> 
    <add key="TIEMPO_FIN_CB" value="500" /> 
  </appSettings>
  <TAG>
     <add key="MAX_TIEMPO_ACTIVACION" value ="5000"/>
     <add key="MAX_TIEMPO_DESACTIVACION" value ="500"/>
     <add key="TIEMPO_DESACT_ANT_D" value="0"/>
     <add key="TIEMPO_DESAC_ANT_DBPR" value="1000"/>
 </TAG> 
  <color>
    <add key="fondo" value="#ffffcc"/>
    <add key="letra" value="#000000"/>
    <add key="borde" value="#00AAFF"/>
    <add key="itemSeleccionado" value="#00AAFF"/>
  </color>
  <Patentes>
    <add key="Argentina" value="1"/>
    <add key="Brasil"    value="0"/>
    <add key="Chile"     value="0"/>
    <add key="Colombia"  value="0"/>
    <add key="Ecuador"   value="1"/>
    <add key="Paraguay"  value="0"/>
    <add key="Peru"      value="0"/>
    <add key="Uruguay"   value="1"/>
  </Patentes>
  <caracteres>
    <add key="maximoCaracteres" value="20"/>
  </caracteres>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>